.page__body {
  @include fontsizes(400, 14px, 21px);
  width: 100%;
  font-family: $main-font;
  margin: 0 auto;
  padding: 0;
  color: $black;
  background-color: $lightred;
}

.container-wrapper {
  background-color: $white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 56px;
}

.main-header__logo {
  position: relative;
  z-index: 2;
  width: 185px;
  height: 56px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
