.page__body {
  @include fontsizes(400, 14px, 21px);
  width: 100%;
  max-width: 100%;
  font-family: $main-font;
  margin: 0 auto;
  padding: 0;
  color: $black;
  background-color: $lightred;
}

.body-wrapper {
  background-color: $white;
}
