.button {
  @include fontsizes(700, 21px, 26px);
  font-family: $main-font;
  color: $white;
  background-color: $blue;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button:hover {
  background-color: $bluegray;
}

.button:active {
  background-color: $darkblue;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  pointer-events: none;
  background-color: $verylightgray;
}

.button__search--disabled {
  pointer-events: none;
  background-color: $verylightgray;
}
