.cards__list {
  padding: 0;
  margin: 0;
}

.cards__item {
  padding: 24px 20px 25px;
  border-bottom: 1px solid $verylightgray;
  list-style-type: none;
}

.cards__image {
  margin-bottom: 15px;
  display: block;
}

.cards__title {
  @include fontsizes(700, 14px, 21px);
  text-transform: uppercase;
  margin: 0;
}

.cards__author {
  color: $lightblack;
  margin: 0;
  margin-bottom: 11px;
}

.cards__like {
  @include fontsizes(700, 14px, 21px);
}

@media (min-width: $tablet-width) {
  .cards {
    padding: 0 60px 0 60px;
  }
}

@media (min-width: $tablet-width) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .cards__item {
    width: 50%;
    border: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .cards__item--full {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .cards__image {
    width: 100%;
    margin: 0;
  }
}


@media (min-width: $tablet-width) {
  .cards__image-highway {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .cards__text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80px;
    padding: 22px 20px 15px 20px;
    background-color: $lightgray;
  }
}

@media (min-width: $tablet-width) {
  .cards__item:nth-child(3) .cards__text {
    background-color: $WhiteSmoke;
    padding-left: 21px;
  }
}

@media (min-width: $tablet-width) {
  .cards__title {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .cards__author {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .cards__like {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cards {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .cards__text {
    background: rgba(0, 0, 0, 0.3);
    top: -80px;
    margin-bottom: -80px;
    color: $white;
    padding: 22px 20px 15px 21px;
  }
}

@media (min-width: $desktop-width) {
  .cards__author {
    color: $white;
  }
}

@media (min-width: $desktop-width) {
  .cards__item:nth-child(3) .cards__text {
    background: rgba(0, 0, 0, 0.3);
    padding: 17px 20px 17px 25px;
  }
}

@media (min-width: $desktop-width) {
  .cards__image {
    width: 100%;
    min-height: 267px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .cards__item {
    width: 33.33%;
    min-height: 267px;
  }
}

@media (min-width: $desktop-width) {
  .cards__image-highway {
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .cards__item--full {
    width: 100%;
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .cards__text--indent {
    padding: 17px 20px 17px 25px;
    row-gap: 4px;
  }
}
