.doubt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

.doubt__wrapper {
  max-width: 266px;
  text-align: center;
  text-transform: uppercase;
  padding: 17px 0 38px;
}

.doubt__title {
  @include fontsizes(700, 18px, 26px);
  margin: 0;
  margin-bottom: 27px;
}

.doubt__description {
  color: $lightblack;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .doubt__wrapper {
    max-width: 445px;
    padding: 58px 0 66px 0;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .doubt__title {
    @include fontsizes(700, 30px, 26px);
    margin-bottom: 32px;
  }
}

@media (min-width: $tablet-width) {
  .doubt__description {
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .doubt__wrapper {
    max-width: 445px;
    padding: 62px 0 64px 0;
    margin: 0 auto;
  }
}

.doubt__presentation {
  position: relative;
  width: 100%;
  height: 177px;
  background-image: url("../../img/catalog-page/video.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog-page/video@2x.jpg");
    background-size: 100% auto;
  }
}

@media (min-width: $tablet-width) {
  .doubt__presentation {
    height: 500px;
    background-position: 50%;
    background-size: 800px auto;
  }
}

.doubt__button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.doubt__button::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

@media (min-width: $tablet-width) {
  .doubt {
    padding: 0 60px 40px 60px;
  }
}

@media (min-width: $desktop-width) {
  .doubt {
    padding: 0 201px 0 199px;
  }
}
