.hero__welcome {
  background-image: url("../../img/home-page/hero-spacebar.svg"), url("../../img/home-page/hero-welcome.jpg");
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom;
}

.hero__image-welcome {
  display: block;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;
}

.hero__welcome--innerpage {
  height: 158px;
  background-size: auto 389px;
}

.hero__image-sedona {
  padding-top: 52px;
  padding-bottom: 67px;
  margin: 0 auto;
  display: block;
}

.hero__title {
  @include fontsizes(700, 18px, 26px);
  width: 284px;
  margin: auto;
  margin-bottom: 35px;
}

.hero__description {
  color: $lightblack;
  margin: 0;
}

.hero__slogan {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 32px 18px 16px;
}

.hero__slogan--catalog {
  padding: 37px 20px 25px;
  border-bottom: 1px solid $verylightgray;
}

.hero__slogan::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/home-page/triangle.svg");
  width: 100%;
  height: 37px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;
  left: 0;
  right: 0;
  bottom: -37px;
  box-sizing: inherit;
}

.hero__slogan--catalog::after {
  display: none;
}

@media (min-width: $tablet-width) {
  .hero__slogan::after {
    display: none;
  }
}

.hero__slogan--form {
  padding: 36px 20px 28px;
  border-bottom: 1px solid $verylightgray;
}

.hero__slogan--form::after {
  display: none;
}

.hero__slogan--form .hero__title {
  margin-bottom: 24px;
}
