.introduce__group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  border-bottom: 1px solid $verylightgray;
  padding: 24px 20px 24px;
  margin: 0;
}

.introduce__group:last-of-type {
  border-bottom: none;
}

.introduce__group--present {
  padding-bottom: 39px;
}

.introduce__group--contacts {
  padding-bottom: 34px;
}

.introduce__group--impression {
  padding-bottom: 24px;
}

.introduce__title {
  @include fontsizes(700, 18px, 26px);
  width: 100%;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.introduce__item {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .introduce__item {
    width: auto;
  }
}

.introduce__label {
  color: $lightblack;
  margin-left: 16px;
  text-transform: uppercase;
}


.introduce__input {
  @include fontsizes(700, 18px, 26px);
  font-family: $main-font;
  border: none;
  outline: none;
  background-color: $lightgray;
  color: $black;
  padding: 16px;
  margin-bottom: 16px;
}

.introduce__input:last-of-type {
  margin-bottom: 0;
}

.introduce__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.introduce__group--contacts .introduce__subgroup {
  position: relative;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.introduce__group--contacts .introduce__subgroup::before {
  position: absolute;
  content: "";
  background: $summitsilver url("../img/catalog-page/phone.svg") center;
  background-repeat: no-repeat;
  width: 58px;
  height: 58px;
  top: 21px;
  right: 0;
  display: block;
}

.introduce__group--contacts .introduce__subgroup--email::before {
  background: $summitsilver url("../img/catalog-page/email.svg") center;
  background-repeat: no-repeat;
}

.introduce__group--contacts .introduce__subgroup--email {
  margin-bottom: 0;
}

.introduce__radio-text {
  @include fontsizes(700, 18px, 26px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.introduce__radio-text::before {
  position: relative;
  content: "";
  display: block;
  margin-right: 16px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: $lightgray;
  background-repeat: no-repeat;
}

.introduce__group .introduce__radio-input:checked + .introduce__radio-text::before {
  background-image: url("../img/catalog-page/icons-radio.svg");
  background-position: center;
}

.introduce__checkbox-text {
  @include fontsizes(700, 18px, 26px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.introduce__checkbox-text::before {
  position: relative;
  content: "";
  display: block;
  margin-right: 16px;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: $lightgray;
  background-repeat: no-repeat;
}

.introduce__group .introduce__checkbox-input:checked + .introduce__checkbox-text--indent::before {
  background-image: url("../img/catalog-page/icons-checkbox.svg");
  background-position: center;
}

.introduce__message {
  @include fontsizes(700, 18px, 26px);
  width: 100%;
  font-family: $main-font;
  border: none;
  background: $lightgray;
  padding: 16px;
  margin-bottom: 50px;
  resize: none;
  min-height: 150px;
}

.introduce__button {
  font-family: $main-font;
  padding: 16px 49px;
  margin-bottom: 4px;
  width: 100%;
  text-align: center;
}

.introduce__require {
  text-align: end;
  text-transform: uppercase;
  margin: 0;
  color: $mediumlightgrey;
  font-size: 12px;
}

@media (min-width: $tablet-width) {
  .introduce__require {
    font-size: 14px;
    margin-top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer--form .main-footer__social {
    margin-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .introduce {
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .introduce {
    padding: 0 120px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__form {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .introduce__title {
    @include fontsizes(700, 21px, 26px);
    margin: 0;
    margin-bottom: 28px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--present {
    width: 50%;
    padding-right: 43px;
    border-right: 1px solid $gainsboro;
    padding-bottom: 26px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--present .introduce__title {
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--present .introduce__title {
    padding-left: 62px;
    margin-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__title {
    margin-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--contacts {
    width: 50%;
    padding-left: 26px;
  }
}

.introduce__input--contacts {
  width: 100%;
  padding-right: 65px;
}

@media (min-width: $tablet-width) {
  .introduce__input--contacts {
    width: 93.96%;
    padding-right: 65px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--contacts .introduce__title {
    text-align: start;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--contacts .introduce__input {
    margin-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--contacts .introduce__input {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .introduce__label--contacts {
    margin-left: 34px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression {
    width: 100%;
    padding: 37px 0 48px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression:nth-child(2n) {
    padding: 0 0 42px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression:last-of-type {
    padding: 0 0 64px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression .introduce__title {
    position: relative;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression .introduce__title {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression:nth-last-child(-n+2) .introduce__title {
    margin-bottom: 27px;
  }
}


@media (min-width: $tablet-width) {
  .introduce__group--impression .introduce__title::before {
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression .introduce__title::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 19%;
    height: 1px;
    background: $gainsboro;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression .introduce__title::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 19%;
    height: 1px;
    background: $gainsboro;
  }
}

@media (min-width: $tablet-width) {
  .introduce__group--impression .introduce__title::after {
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--present {
    width: 51.45%;
    padding: 0  63px 15px 0;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--contacts {
    max-width: 466px;
    padding-left: 64px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--contacts .introduce__subgroup {
    max-width: 402px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--contacts .introduce__title {
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__input--contacts {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .introduce__label--contacts {
    margin-left: 16px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__label--contacts {
    margin-left: 16px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__list {
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .introduce__list--radio {
    width: 100%;
    column-gap: 16px;
    padding: 0 36px 0 36px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__radio-text {
    min-width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression {
    width: 100%;
    padding: 57px 0 74px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression .introduce__title::after {
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression .introduce__title::before {
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__list--radio {
    column-gap: 28px;
    padding: 0 53px 0 53px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__radio-text--indent {
    min-width: 238px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__list--checkbox {
    width: 100%;
    column-gap: 32px;
    padding: 0 84px 0 84px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__checkbox-text {
    min-width: 224px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__list--checkbox {
    column-gap: 64px;
    padding: 31px 44px 31px 44px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__checkbox-text--indent {
    min-width: 153px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__group--impression:nth-child(2n) {
    padding: 0 0 56px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__message {
    min-height: 160px;
    margin-bottom: 43px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__button {
    width: auto;
    margin: 0;
    padding: 16px 71px;
  }
}

@media (min-width: $tablet-width) {
  .introduce__transfer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .introduce__message {
    width: 100%;
    margin-bottom: 44px;
    padding-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--form .main-footer__copyright-image {
    margin-left: 9px;
  }
}

.introduce__group--present .introduce__input::placeholder {
  color: $black;
}

@media (min-width: $desktop-width) {
  .introduce__button {
    width: auto;
    padding: 16px 101px;
  }
}

@media (min-width: $desktop-width) {
  .introduce__wrapper {
    padding: 0 96px;
  }
}

.main-footer--form {
  padding: 28px 0 23px;
}

@media (min-width: $tablet-width) {
  .main-footer--form {
    padding: 36px 60px 36px 45px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--form {
    padding: 36px 120px 36px 104px;
  }
}

.introduce__input::placeholder {
  color: $mediumgray;
}

.introduce__message::placeholder {
  color: $mediumgray;
}

.introduce__input:hover {
  background-color: $verylightgray;
  color: $black;
}

.introduce__input:focus {
  background-color: $verylightgray;
}

.introduce__input:active {
  background-color: $white;
  color: $black;
  outline: 4px solid $verylightgray;
  outline-offset: -4px;
}

.introduce__radio-input:hover + .introduce__radio-text::before {
  background-color: $verylightgray;
}

.introduce__radio-input:focus + .introduce__radio-text::before {
  outline: none;
  background-color: $verylightgray;
}

.introduce__radio-input:checked:active + .introduce__radio-text::before {
  background-color: $caparol;
  opacity: 0.3;
}

.introduce__radio-input:checked:disabled + .introduce__radio-text::before {
  outline: none;
  background-color: $caparol;
  opacity: 0.5;
}

.introduce__checkbox-input:hover + .introduce__checkbox-text::before {
  background-color: $verylightgray;
}

.introduce__checkbox-input:focus + .introduce__checkbox-text::before {
  outline: none;
  background-color: $verylightgray;
}

.introduce__checkbox-input:active + .introduce__checkbox-text::before {
  background-color: $caparol;
  opacity: 0.3;
}

.introduce__checkbox-input:disabled + .introduce__checkbox-text::before {
  outline: none;
  background-color: $caparol;
  opacity: 0.5;
}
