.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 39px 0 23px 0;
  text-align: center;
}

.main-footer__hashtag {
  @include fontsizes(700, 21px, 26px);
  text-transform: uppercase;
  color: $black;
  margin-bottom: 32px;
}

.main-footer__social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 40px;
  padding: 0;
  gap: 6px;
}

.main-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  line-height: 0;
  background-color: $blue;
}

.main-footer__link:hover {
  background-color: $bluegray;
}

.main-footer__link:focus {
  background-color: $darkblue;
}

.main-footer__link:active {
  background: $darkblue;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__link:active .main-footer__icons {
  opacity: 0.3;
}

.main-footer__copyright {
  text-decoration: none;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.main-footer__copyright-image {
  fill: $black;
  vertical-align: middle;
  margin-left: 12px;
}

@media (min-width: $tablet-width) {
  .main-footer .main-footer__copyright-image {
    margin-left: 9px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: inherit;
    vertical-align: middle;
    padding: 36px 76px 36px 45px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__hashtag {
    width: 166px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__hashtag {
    margin-top: 4px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    padding: 36px 136px 36px 104px;
  }
}

.main-footer--catalog {
  padding-top: 29px;
}

@media (min-width: $tablet-width) {
  .main-footer--catalog {
    padding: 36px 60px 36px 45px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer--catalog .main-footer__social {
    margin-right: 22px;
  }
}

.main-footer--catalog .main-footer__copyright-image {
  margin-left: 7px;
}

.main-footer--catalog .main-footer__copyright {
  margin-top: 1px;
}

@media (min-width: $tablet-width) {
  .main-footer--catalog .main-footer__copyright-image {
    margin-left: 9px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer--catalog .main-footer__copyright {
    margin-top: 1px;
  }
}

@media (min-width: $tablet-width) {
  .main-footer--catalog .main-footer__hashtag {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--catalog {
    padding: 120px 120px 36px 104px;
  }
}

.main-footer--form {
  padding: 28px 0 23px;
}

@media (min-width: $tablet-width) {
  .main-footer--form {
    padding: 36px 60px 36px 45px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--form {
    padding: 36px 120px 36px 104px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer--form .main-footer__copyright-image {
    margin-left: 9px;
  }
}

.main-footer__copyright:hover {
  color: $blue;
  fill: $blue;
}

.main-footer__copyright:focus {
  color: $darkblue;
  fill: $darkblue;
}

.main-footer__copyright:active {
  color: $mediumgray;
  fill: $mediumgray;
}

.main-footer__copyright:hover .main-footer__copyright-image {
  color: $blue;
  fill: $blue;
}

.main-footer__copyright:focus .main-footer__copyright-image {
  color: $darkblue;
  fill: $darkblue;
}

.main-footer__copyright:active .main-footer__copyright-image {
  color: $mediumgray;
  fill: $mediumgray;
}
