.map__location {
  width: 100%;
  display: block;
}

.map {
  background-image: url("../img/home-page/map/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/home-page/map/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/home-page/map/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-page/map/map-tablet.@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/home-page/map/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/home-page/map/map-desktop@2x.jpg");
    }
  }
}
