.modal-container {
  position: fixed;
  display: flex;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-container__close {
  display: none;
}
