
.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 22px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: $blue;
  box-shadow: 0 9px 0 0 $blue, 0 18px 0 0 $blue;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: rgba($blue, 0.6);
  box-shadow:
    0 9px 0 0 rgba($blue, 0.6),
    0 18px 0 0  rgba($blue, 0.6);
}

.main-nav--closed .main-nav__toggle:focus::before {
  background-color: rgba($blue, 0.6);
  box-shadow:
    0 9px 0 0 rgba($blue, 0.6),
    0 18px 0 0  rgba($blue, 0.6);
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($blue, 0.3);
  box-shadow:
    0 9px 0 0 rgba($blue, 0.3),
    0 18px 0 0  rgba($blue, 0.3);
}

.main-nav--opened .main-nav__list {
  width: 100%;
  background-color: $blue;
  position: absolute;
  z-index: 1;
  margin-top: -56px;
}

.main-nav--opened .main-nav__toggle {
  top: 17px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -2px;
    width: 27px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($white, 0.6);
  }

  &:active::before,
  &:active::after {
    background-color: rgba($white, 0.3);
  }
}

.main-nav__list {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.main-nav--closed .main-nav__item {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav--closed .main-nav__item {
    display: inline-block;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--opened .main-nav__item:focus {
    background-color: $bluegray;
  }

  .main-nav--opened .main-nav__item:hover {
    background-color: $bluegray;
  }

  .main-nav--opened .main-nav__item:active {
    background-color: $darkblue;
  }
}

.main-nav__link:active {
  color: $white;
  opacity: 0.3;
}

.main-nav__link {
  @include fontsizes(700, 18px, 26px);
  position: relative;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 17px 0 12px;
  box-shadow: 0 1px 0 rgb(1 1 1 / 20%), inset 0 1px 0 rgb(255 255 255 / 20%);
}

.main-nav__item:nth-child(4)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

@media (min-width: $tablet-width) {
  .main-nav__item:nth-child(4)::before {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .main-nav--opened .main-nav__list {
    position: inherit;
    margin: 0;
    z-index: 1;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link {
    @include fontsizes(700, 14px, 21px);
    color: $black;
    text-decoration: none;
    padding-bottom: 18px;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 153px;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item:nth-of-type(3) {
    margin-left: 10%;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item:nth-of-type(2) {
    margin-right: 10%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link:hover {
    color: $blue;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link:active {
    color: $black;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__link--current {
    color: $brown;
  }
}

.main-nav--opened .main-nav__link--current {
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav--nojs .main-nav__link--current {
  padding-left: 70px;
  padding-right: 70px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .main-nav--opened .main-nav__link--current {
    padding: 0;
  }
}
