.shipped {
  position: relative;
  margin: auto;
  background-color: $white;
}

.shipped__page {
  min-width: 244px;
  min-height: 156px;
  padding: 39px 39px 30px 37px;
}

.shipped__title {
  @include fontsizes(700, 18px, 26px);
  text-align: center;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.shipped__description {
  @include fontsizes(400, 14px, 21px);
  color: $lightblack;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
}

.shipped__button {
  @include fontsizes(700, 18px, 26px);
  min-width: 280px;
  padding: 18px 62px 14px 60px;
  margin: 0 auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .shipped {
    min-width: 640px;
  }
}

@media (min-width: $tablet-width) {
  .shipped__page {
    padding: 53px 99px 30px 97px;
  }
}

@media (min-width: $tablet-width) {
  .shipped__title {
    @include fontsizes(700, 30px, 26px);
  }
}

@media (min-width: $tablet-width) {
  .shipped__description {
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .shipped__button {
    @include fontsizes(700, 21px, 26px);
    min-width: 458px;
    padding: 18px 140px 14px 139px;
  }
}

@media (min-width: $desktop-width) {
  .shipped__page {
    padding: 51px 99px 28px 97px;
  }
}

@media (min-width: $desktop-width) {
  .shipped__title {
    margin-bottom: 29px;
  }
}
