// Color
$black:#000000;
$lightblack:#333333;
$blue:#81b3d2;
$gray:#eeeeee;
$darkgray:#d6d6d6;
$lightgray:#f2f2f2;
$brown:#766357;
$white:#ffffff;
$lightred: #e7e5e5;
$verylightgray:#e5e5e5;
$mediumgray: #b3b3b3;
$mediumlightgrey: #b4b4b4;
$WhiteSmoke: #eaeaea;
$gainsboro: #dbdbdb;
$bluegray: #669ec0;
$silver: #d5d5d5;
$darkblue: #5496bd;
$chromatic: #c2c2c2;
$summitsilver: #e6e6e6;
$caparol: #a3a3a3;


$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width:1200px;

$main-font: "PT Sans", "Arial", sans-serif;
